# Maven
**/target/

# IDE
.idea/
*.iml
.vscode/

# Node
node_modules/

# Vaadin generated frontend
**/frontend/generated/

# Vaadin build bundles
**/src/main/bundles/

# Generated Vite config
vite.generated.ts

# Plugin jars
/app/plugins/*.jar